body {
    background: #424b54;
}


h1 a{
    color: #f6f5ae!important;
}
p, span {
    color: #c5c7c4!important;
}

hr {
    border-top: 1px solid #c5c7c4;
}

.hide-password-img {
    display: none;
}

.uk-button-flip {
    margin: 15px;
}