<!DOCTYPE html>
<html>
    <head>
        <!-- Default information -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>book50w: {% block title %}{% endblock %} </title>

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- project1 CSS -->
        <link rel="stylesheet" href="../static/styling.min.css" />

        <!-- flask-moment required code -->
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                    {% for category, message in messages %}
                        <div uk-alert class="uk-{{ category }} uk-text-center uk-margin-remove" role="alert">
                            {{ message }} <a class="uk-alert-close" uk-close></a>
                        </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}

        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a uk-toggle="target: #hamburguer-menu" class="uk-navbar-toggle-icon uk-icon uk-hidden@s" uk-navbar-toggle-icon></a></li>
                </ul>
            </div>
            <div class="nav-overlay uk-navbar-center">
                <div class="uk-navbar-center-left uk-visible@s"><div>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active uk-button uk-button-text"><a href="#">Active</a></li>
                        <li>
                            <a class="uk-button uk-button-text" href="#">Parent</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div></div>
                <a class="uk-navbar-item uk-logo" href="#">books50web</a>
                <div class="uk-navbar-center-right uk-visible@s"><div>
                    <ul class="uk-navbar-nav">
                        <li><a class="uk-button uk-button-text" href="#">API</a></li>
                    </ul>
                </div></div>
            </div>
            <div class="nav-overlay uk-navbar-right"><div>
                <ul class="uk-navbar-nav">
                    <li>
                        <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                    </li>
                    <a>
                        <div class="uk-navbar-item uk-visible@s">
                            <img src="../static/userPictures/defaultGuest.svg" width="40px" height="40px" alt="Guest image"><a class="uk-margin-small-left uk-button uk-button-text">Guest <span uk-icon="icon: chevron-down"></span></a>
                        </div>
                    </a>
                    <div uk-dropdown="mode: click" class="uk-width-medium">
                        <form>
                            <div class="uk-inline uk-width-1-1 uk-margin-small">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" id="username" placeholder="Username">
                            </div>
                            <div class="uk-inline uk-width-1-1 uk-margin-small">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" id="password" data-toggle="password" placeholder="Password" type="password">
                                <button id="show-password" class="uk-form-icon uk-form-icon-flip" uk-icon><img class="show-password-img" width="20px" height="20px" src="../static/show-password.svg" /><img class="hide-password-img" width="20px" height="20px" src="../static/hide-password.svg" uk-icon /></button>
                            </div>
                            <div class="uk-margin-remove remember-me">
                                <label class="uk-margin-auto">
                                    <input class="uk-checkbox uk-margin-small-right" type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" id="submit" class="uk-margin-small uk-button uk-width-1-1 uk-button-primary">Log in</button>
                        </form>
                        <hr class="uk-margin-small" />
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-align-right uk-margin-remove"><a href="#">Forgot your password? <strong>Recover it</strong> <span uk-icon="icon: refresh"></span></a></li>
                            <li class="uk-align-right uk-margin-remove"><a href="#">Not a user? <strong>Register now</strong> <span uk-icon="icon: sign-in"></a></li>
                        </ul>
                    </div>
                </ul>
            </div></div>

            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                    </form>
                </div>
                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            </div>
        </nav>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer class="uk-margin-large-top">
            <hr />
            <p class="uk-text-center">Copyright 2018-{{ moment().format('YYYY') }} – <a href="https://igormathe.us" class="uk-link-text">igormathe.us</a> – All rights reserved.</p>
            {% block footer %}{% endblock %}
        </footer>
        <div class="uk-offcanvas-content">
            <div id="hamburguer-menu" uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar uk-width-large">
                    <ul uk-accordion class="uk-navbar-nav">
                        <li class="uk-navbar-item uk-margin-remove" class="uk-accordion-title" uk-toggle="target: #login-accordion">
                            <img src="../static/userPictures/defaultGuest.svg" width="40px" height="40px" alt="Guest image"><a class="uk-button">Guest <span uk-icon="icon: chevron-down"></span></a>
                        </li>
                        <li class="uk-navbar-item uk-margin-remove"><a class="uk-button uk-offcanvas-close" type="button" uk-close></a></li>
                    </ul>
                    <div class="uk-accordion-content" hidden id="login-accordion">
                        <form>
                            <div class="uk-inline uk-width-1-1 uk-margin-small">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" id="username-hamburguer" placeholder="Username">
                            </div>
                            <div class="uk-inline uk-width-1-1 uk-margin-small">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" id="password-hamburguer" data-toggle="password" placeholder="Password" type="password">
                                <button id="show-password-hamburguer" class="uk-form-icon uk-form-icon-flip" uk-icon><img class="show-password-img" width="20px" height="20px" src="../static/show-password.svg" /><img class="hide-password-img" width="20px" height="20px" src="../static/hide-password.svg" uk-icon /></button>
                            </div>
                            <div class="uk-margin-small remember-me">
                                <label class="uk-margin-auto">
                                    <input class="uk-checkbox uk-margin-small-right" type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" id="submit-hamburguer" class="uk-margin-small uk-button uk-width-1-1 uk-button-primary">Log in</button>
                        </form>
                        <hr class="uk-margin-small" />
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-align-right uk-margin-remove"><a class="uk-margin-small" href="#">Forgot your password? <strong>Recover it</strong> <span uk-icon="icon: refresh"></span></a></li>
                            <li class="uk-align-right uk-margin-remove"><a class="uk-margin-small" href="#">Not a user? <strong>Register now</strong> <span uk-icon="icon: sign-in"></a></li>
                        </ul>
                    </div>
                    <h3>Title</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </body>
</html>